version: '3'
services:
   kafka:
        build: ./kafka
        ports:
            - "9092:9092"
        depends_on:
            - zookeeper
        volumes:
            - "./kafka/server.properties:/opt/kafka_2.13-2.7.0/config/server.properties:ro"
        container_name: kafka
   zookeeper:
        build: ./zookeeper
        ports:
            - "2181:2181"
        volumes:
            - "./zookeeper/zookeeper.properties:/opt/kafka_2.13-2.7.0/config/zookeeper.properties:ro"
        container_name: zookeeper

